<h2>List of movies</h2>
<ul>
  <li *ngFor="let college of colleges">
    <h2 (click)="collegeClicked(college)">{{college.name}}</h2>
  </li>
</ul>
<hr>
name <input type="text" [(ngModel)]="selectedCollege.name"/><br>
location <input type="text" [(ngModel)]="selectedCollege.location"/><br>
acronym <input type="text" [(ngModel)]="selectedCollege.acronym"/><br>
contact<input type="text" [(ngModel)]="selectedCollege.contact"/><br>
<button *ngIf="selectedCollege.id != -1" (click)="updateCollege()"> PUT </button>
<button *ngIf="selectedCollege.id == -1" (click)="createCollege()"> POST </button>
<button *ngIf="selectedCollege.id != -1" (click)="deleteCollege()"> DELETE </button>
